CapstoneGateway/src/main/resources/ca_bundle.crt
CapstoneGateway/src/main/resources/certificate.crt
CapstoneGateway/src/main/resources/private.key
DjangoFrontend/pyvenv.cfg
DjangoFrontend/Scripts/activate
DjangoFrontend/Scripts/activate.bat
DjangoFrontend/Scripts/Activate.ps1
DjangoFrontend/Scripts/deactivate.bat
DjangoFrontend/Scripts/django-admin.exe
DjangoFrontend/Scripts/pip.exe
DjangoFrontend/Scripts/pip3.9.exe
DjangoFrontend/Scripts/pip3.10.exe
DjangoFrontend/Scripts/pip3.exe
DjangoFrontend/Scripts/python.exe
DjangoFrontend/Scripts/pythonw.exe
DjangoFrontend/Scripts/sqlformat.exe
DjangoFrontend/Scripts/mainsite/mainsite/__pycache__/__init__.cpython-39.pyc
DjangoFrontend/Scripts/mainsite/mainsite/__pycache__/settings.cpython-39.pyc
djangoSocketServer/pyvenv.cfg
djangoSocketServer/Scripts/activate
djangoSocketServer/Scripts/activate.bat
djangoSocketServer/Scripts/Activate.ps1
djangoSocketServer/Scripts/deactivate.bat
djangoSocketServer/Scripts/pip.exe
djangoSocketServer/Scripts/pip3.9.exe
djangoSocketServer/Scripts/pip3.exe
djangoSocketServer/Scripts/python.exe
djangoSocketServer/Scripts/pythonw.exe
djangoSocketServer/Scripts/django-admin.exe
djangoSocketServer/Scripts/sqlformat.exe
djangoSocketServer/Scripts/socketservercapstone/socketservercapstone/__pycache__/__init__.cpython-39.pyc
djangoSocketServer/Scripts/socketservercapstone/socketservercapstone/__pycache__/settings.cpython-39.pyc
djangoSocketServer/Scripts/socketservercapstone/socketservercapstone/__pycache__/urls.cpython-39.pyc
djangoSocketServer/Scripts/socketservercapstone/socketservercapstone/__pycache__/wsgi.cpython-39.pyc
djangoSocketServer/Scripts/socketservercapstone/socketcomponents/migrations/__pycache__/__init__.cpython-39.pyc
djangoSocketServer/Scripts/socketservercapstone/socketcomponents/__pycache__/__init__.cpython-39.pyc
djangoSocketServer/Scripts/socketservercapstone/socketcomponents/__pycache__/admin.cpython-39.pyc
djangoSocketServer/Scripts/socketservercapstone/socketcomponents/__pycache__/apps.cpython-39.pyc
djangoSocketServer/Scripts/socketservercapstone/socketcomponents/__pycache__/models.cpython-39.pyc
DjangoFrontend/Scripts/mainsite/mainapp/__pycache__/__init__.cpython-39.pyc
DjangoFrontend/Scripts/mainsite/mainapp/__pycache__/admin.cpython-39.pyc
DjangoFrontend/Scripts/mainsite/mainapp/__pycache__/apps.cpython-39.pyc
DjangoFrontend/Scripts/mainsite/mainapp/__pycache__/models.cpython-39.pyc
DjangoFrontend/Scripts/mainsite/mainapp/__pycache__/views.cpython-39.pyc
DjangoFrontend/Scripts/mainsite/mainapp/migrations/__pycache__/__init__.cpython-39.pyc
DjangoFrontend/Scripts/mainsite/mainsite/__pycache__/urls.cpython-39.pyc
DjangoFrontend/Scripts/mainsite/mainsite/__pycache__/wsgi.cpython-39.pyc
DjangoFrontend/Scripts/mainsite/static/admin/css/autocomplete.css
DjangoFrontend/Scripts/mainsite/static/admin/css/base.css
DjangoFrontend/Scripts/mainsite/static/admin/css/changelists.css
DjangoFrontend/Scripts/mainsite/static/admin/css/dark_mode.css
DjangoFrontend/Scripts/mainsite/static/admin/css/dashboard.css
DjangoFrontend/Scripts/mainsite/static/admin/css/fonts.css
DjangoFrontend/Scripts/mainsite/static/admin/css/forms.css
DjangoFrontend/Scripts/mainsite/static/admin/css/login.css
DjangoFrontend/Scripts/mainsite/static/admin/css/nav_sidebar.css
DjangoFrontend/Scripts/mainsite/static/admin/css/responsive_rtl.css
DjangoFrontend/Scripts/mainsite/static/admin/css/responsive.css
DjangoFrontend/Scripts/mainsite/static/admin/css/rtl.css
DjangoFrontend/Scripts/mainsite/static/admin/css/widgets.css
DjangoFrontend/Scripts/mainsite/static/admin/css/vendor/select2/LICENSE-SELECT2.md
DjangoFrontend/Scripts/mainsite/static/admin/css/vendor/select2/select2.css
DjangoFrontend/Scripts/mainsite/static/admin/css/vendor/select2/select2.min.css
DjangoFrontend/Scripts/mainsite/static/admin/fonts/LICENSE.txt
DjangoFrontend/Scripts/mainsite/static/admin/fonts/README.txt
DjangoFrontend/Scripts/mainsite/static/admin/fonts/Roboto-Bold-webfont.woff
DjangoFrontend/Scripts/mainsite/static/admin/fonts/Roboto-Light-webfont.woff
DjangoFrontend/Scripts/mainsite/static/admin/fonts/Roboto-Regular-webfont.woff
DjangoFrontend/Scripts/mainsite/static/admin/img/calendar-icons.svg
DjangoFrontend/Scripts/mainsite/static/admin/img/icon-addlink.svg
DjangoFrontend/Scripts/mainsite/static/admin/img/icon-alert.svg
DjangoFrontend/Scripts/mainsite/static/admin/img/icon-calendar.svg
DjangoFrontend/Scripts/mainsite/static/admin/img/icon-changelink.svg
DjangoFrontend/Scripts/mainsite/static/admin/img/icon-clock.svg
DjangoFrontend/Scripts/mainsite/static/admin/img/icon-deletelink.svg
DjangoFrontend/Scripts/mainsite/static/admin/img/icon-no.svg
DjangoFrontend/Scripts/mainsite/static/admin/img/icon-unknown-alt.svg
DjangoFrontend/Scripts/mainsite/static/admin/img/icon-unknown.svg
DjangoFrontend/Scripts/mainsite/static/admin/img/icon-viewlink.svg
DjangoFrontend/Scripts/mainsite/static/admin/img/icon-yes.svg
DjangoFrontend/Scripts/mainsite/static/admin/img/inline-delete.svg
DjangoFrontend/Scripts/mainsite/static/admin/img/LICENSE
DjangoFrontend/Scripts/mainsite/static/admin/img/README.txt
DjangoFrontend/Scripts/mainsite/static/admin/img/search.svg
DjangoFrontend/Scripts/mainsite/static/admin/img/selector-icons.svg
DjangoFrontend/Scripts/mainsite/static/admin/img/sorting-icons.svg
DjangoFrontend/Scripts/mainsite/static/admin/img/tooltag-add.svg
DjangoFrontend/Scripts/mainsite/static/admin/img/tooltag-arrowright.svg
DjangoFrontend/Scripts/mainsite/static/admin/img/gis/move_vertex_off.svg
DjangoFrontend/Scripts/mainsite/static/admin/img/gis/move_vertex_on.svg
DjangoFrontend/Scripts/mainsite/static/admin/js/actions.js
DjangoFrontend/Scripts/mainsite/static/admin/js/autocomplete.js
DjangoFrontend/Scripts/mainsite/static/admin/js/calendar.js
DjangoFrontend/Scripts/mainsite/static/admin/js/cancel.js
DjangoFrontend/Scripts/mainsite/static/admin/js/change_form.js
DjangoFrontend/Scripts/mainsite/static/admin/js/collapse.js
DjangoFrontend/Scripts/mainsite/static/admin/js/core.js
DjangoFrontend/Scripts/mainsite/static/admin/js/filters.js
DjangoFrontend/Scripts/mainsite/static/admin/js/inlines.js
DjangoFrontend/Scripts/mainsite/static/admin/js/jquery.init.js
DjangoFrontend/Scripts/mainsite/static/admin/js/nav_sidebar.js
DjangoFrontend/Scripts/mainsite/static/admin/js/popup_response.js
DjangoFrontend/Scripts/mainsite/static/admin/js/prepopulate_init.js
DjangoFrontend/Scripts/mainsite/static/admin/js/prepopulate.js
DjangoFrontend/Scripts/mainsite/static/admin/js/SelectBox.js
DjangoFrontend/Scripts/mainsite/static/admin/js/SelectFilter2.js
DjangoFrontend/Scripts/mainsite/static/admin/js/urlify.js
DjangoFrontend/Scripts/mainsite/static/admin/js/admin/DateTimeShortcuts.js
DjangoFrontend/Scripts/mainsite/static/admin/js/admin/RelatedObjectLookups.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/jquery/jquery.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/jquery/jquery.min.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/jquery/LICENSE.txt
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/LICENSE.md
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/select2.full.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/select2.full.min.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/af.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/ar.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/az.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/bg.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/bn.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/bs.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/ca.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/cs.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/da.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/de.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/dsb.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/el.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/en.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/es.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/et.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/eu.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/fa.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/fi.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/fr.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/gl.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/he.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/hi.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/hr.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/hsb.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/hu.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/hy.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/id.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/is.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/it.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/ja.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/ka.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/km.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/ko.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/lt.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/lv.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/mk.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/ms.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/nb.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/ne.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/nl.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/pl.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/ps.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/pt-BR.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/pt.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/ro.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/ru.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/sk.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/sl.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/sq.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/sr-Cyrl.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/sr.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/sv.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/th.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/tk.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/tr.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/uk.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/vi.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/zh-CN.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/select2/i18n/zh-TW.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/xregexp/LICENSE.txt
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/xregexp/xregexp.js
DjangoFrontend/Scripts/mainsite/static/admin/js/vendor/xregexp/xregexp.min.js
DjangoFrontend/Scripts/mainsite/static/rest_framework/css/bootstrap-theme.min.css
DjangoFrontend/Scripts/mainsite/static/rest_framework/css/bootstrap-theme.min.css.map
DjangoFrontend/Scripts/mainsite/static/rest_framework/css/bootstrap-tweaks.css
DjangoFrontend/Scripts/mainsite/static/rest_framework/css/bootstrap.min.css
DjangoFrontend/Scripts/mainsite/static/rest_framework/css/bootstrap.min.css.map
DjangoFrontend/Scripts/mainsite/static/rest_framework/css/default.css
DjangoFrontend/Scripts/mainsite/static/rest_framework/css/font-awesome-4.0.3.css
DjangoFrontend/Scripts/mainsite/static/rest_framework/css/prettify.css
DjangoFrontend/Scripts/mainsite/static/rest_framework/docs/css/base.css
DjangoFrontend/Scripts/mainsite/static/rest_framework/docs/css/highlight.css
DjangoFrontend/Scripts/mainsite/static/rest_framework/docs/css/jquery.json-view.min.css
DjangoFrontend/Scripts/mainsite/static/rest_framework/docs/img/favicon.ico
DjangoFrontend/Scripts/mainsite/static/rest_framework/docs/img/grid.png
DjangoFrontend/Scripts/mainsite/static/rest_framework/docs/js/api.js
DjangoFrontend/Scripts/mainsite/static/rest_framework/docs/js/highlight.pack.js
DjangoFrontend/Scripts/mainsite/static/rest_framework/docs/js/jquery.json-view.min.js
DjangoFrontend/Scripts/mainsite/static/rest_framework/fonts/fontawesome-webfont.eot
DjangoFrontend/Scripts/mainsite/static/rest_framework/fonts/fontawesome-webfont.svg
DjangoFrontend/Scripts/mainsite/static/rest_framework/fonts/fontawesome-webfont.ttf
DjangoFrontend/Scripts/mainsite/static/rest_framework/fonts/fontawesome-webfont.woff
DjangoFrontend/Scripts/mainsite/static/rest_framework/fonts/glyphicons-halflings-regular.eot
DjangoFrontend/Scripts/mainsite/static/rest_framework/fonts/glyphicons-halflings-regular.svg
DjangoFrontend/Scripts/mainsite/static/rest_framework/fonts/glyphicons-halflings-regular.ttf
DjangoFrontend/Scripts/mainsite/static/rest_framework/fonts/glyphicons-halflings-regular.woff
DjangoFrontend/Scripts/mainsite/static/rest_framework/fonts/glyphicons-halflings-regular.woff2
DjangoFrontend/Scripts/mainsite/static/rest_framework/img/glyphicons-halflings-white.png
DjangoFrontend/Scripts/mainsite/static/rest_framework/img/glyphicons-halflings.png
DjangoFrontend/Scripts/mainsite/static/rest_framework/img/grid.png
DjangoFrontend/Scripts/mainsite/static/rest_framework/js/ajax-form.js
DjangoFrontend/Scripts/mainsite/static/rest_framework/js/bootstrap.min.js
DjangoFrontend/Scripts/mainsite/static/rest_framework/js/coreapi-0.1.1.js
DjangoFrontend/Scripts/mainsite/static/rest_framework/js/csrf.js
DjangoFrontend/Scripts/mainsite/static/rest_framework/js/default.js
DjangoFrontend/Scripts/mainsite/static/rest_framework/js/jquery-3.5.1.min.js
DjangoFrontend/Scripts/mainsite/static/rest_framework/js/prettify-min.js
