@import url("https://fonts.googleapis.com/css?family=Kanit:300,400");


.user_options {
    background-color: #30475E;
    height: 7.5em;
    border-top: #A5C9CA;
    border-width: 20px;
    border-top-style: solid;
    clear: both;
}
.user_options ul{
    margin: 0;
    float: left;
}

/* .option{
    /* display: inline-block; */
    /* float: left;
    padding: 10px;
} */

.option_list{
    float: left;
    list-style: none;
    font-family: Kanit;
    margin-top: 7px;
    color:#A5C9CA;
    padding: 20px;
    transition: .5s;
}

.option_list:hover{
    cursor: pointer;
    background-color: #DDDDDD;
    transition: .5s;
    border-radius: 5px;
}

/* .user_options li{
    padding: 10px;
    font-size: 26px;
    /* background-color: #DDDDDD; 
    color: #A5C9CA;
    border-radius: 2px;
    list-style: none;
    margin: 35px;
} */

.container{
    /* background-color: #E7F6F2; */
    /* position: relative; */
    /* z-index: 1; */
    background-color: #A5C9CA;
    /* background-color: #395B64; */
    /* height: 11em; */
    /* margin-top: 2em; */
}

.printer_box_container{
    background-color: #30475E;
    clear: both;
}

.printer_box{
    margin: 7px;
    /* float: left; */
    display: inline-block;
    background-color: #52697F;
    border-radius: 10px;
    width: min-content;
    text-align: center;
    color: #A5C9CA;
    font-family: Kanit;
    padding: 10px;
}

.printer_files{
    font-family: Kanit;
}

.display_container{
    background-color: #30475E;
    padding: 5px;
    /* border-radius: 5px; */
}

.display_item{
    list-style: none;
    margin: 5px;
    background-color: #41586F;
    color:#A5C9CA;
    font-family: 'Trebuchet MS';
    padding: 5px;
    border-radius: 5px;
    width: min-content;
}


.button{
    text-align: center;
    margin-top: .5em;
    padding: .75em;
    font-family: Kanit;
    color: white;
    background-color: #41586F;
    width: 75%;
    border-radius: 50px;
    transition: .5s;
    margin-bottom: .5em;
}

.button:hover{
    cursor: pointer;
    background-color: #52697F;
}

/* .header_container{
    position: absolute;
    bottom: 20px;
    margin-top: 2em; 
} */